.portfolio-page {
    margin: 0;
    padding-top: 0;
    background-color: #29012e;
    /* border-radius: 0px; */
  }
  
  .portfolio-container {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    gap: 80px;
  }
  
  .left-box,
  .right-box {
    height: 500px;
    width: 600px;
    object-fit: cover;
    display: flex;
    width: 80%;
  }
  
  #portfolio-title {
    padding: 50px;
    font-size: 50px;
    color: aliceblue;
  }
  #skills-title {
    padding: 20px;
    font-size: 50px;
    color: aliceblue;
    margin-top: -100px;
  }
  
  .skills {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding: 20px;
    padding: 100px;
  }
  
  .skills-sec {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 200px;
    padding: 100px;
  }
  
  .skill {
    /* border: 5px solid; */
    height: 100px;
    width: calc(50% - 20px); /* Adjust the width as needed */
    padding: 10px;
    color: antiquewhite;
  }
  
  .progress {
    background-color: #ddd;
    height: 20px;
    position: relative;
  }
  
  .progress-bar {
    background-color: #a30d53;
    height: 100%;
    width: 0;
    text-align: center;
    line-height: 20px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
  }
  