/* Your existing styles... */

#root{
    text-align: initial;
}

.container{
    margin-bottom: -55px;
    margin-top: -49px;
}
.skills {
    padding: 10rem 9% 2rem;
    background-color: #F6F5F1; /* Change background color as needed */
}
  
.header-container {
    text-align: left; /* Align the h2 to the left */
}
  
.section-heading {
    font-size: 64px;
    margin-bottom: 100px;
    font-family: 'Comic Neue', cursive;
    margin-right: 3000px;
}
  
.centered-header-container {
    text-align: center; /* Align the h3 to the center */
    margin-bottom: 2rem;
}
  
.centered-header {
    font-size: 2rem;
}

.skills-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.skills-img img {
    width: 454px;
    height: 536px;
    bottom: 34px;
    left: 90px;
    margin-top: 100px;
}
  
.skills-details {
    flex-grow: 1;
    margin-left: 40px; /* Adjust margin between image and details as needed */
}
.skill-item {
    margin-bottom: 2rem;
    
}
  
.progress-bar-container {
    background-color: #E0D7E3;
    border-radius: 60px;
    overflow: hidden;
    width: 600px;
    height: 33px;
    bottom: 562px;
    left: 208px;
}
  
.progress-bar {
    width: 52px;
    height: 33px;
    bottom: 562px;
    left: 208px;
    background-color: rgb(241, 30, 65);
    transition: width 0.8s ease-in-out;
    border-radius: 60px;
    
}
  

