.home-page {
    margin-top: 0;
    margin: 0;
    align-items: flex-start;
    height: 100vh;
    display: flex;
}

.hero-left {
   
    height: 700px;
    width: 400px;
}

.hero-right {

    margin-left: 70px;
    height: 700px;
    width: 900px;
    background-image: linear-gradient(to bottom, rgba(18, 11, 38, 0.78), rgba(18, 11, 38, 0.78), rgba(18, 11, 38, 0.78), rgba(193, 188, 207, 0.78));
    border-radius: 50px;
}

.my-image {
    max-width: 80%; 
    height: auto; 
}
  
.home-icons {
display: block;
align-items: center;
}

.home-icons i {
    justify-content: space-between;
    padding: 10px;
    font-size: 40px;
    margin-top: 50px;
}
 
.icon {
    font-size: 24px;
}
      
#linkedin {
color: #0077b5; /* LinkedIn blue */
}
      
#facebook {
    color: #1877f2; /* Facebook blue */
}
      
#github {
     color: #211f1f; /* GitHub black */
}
    
.home-icons i:hover {
    color: rgb(163, 20, 149);
}

.home-button button {
    border-radius: 10px;
    width: 210px;
    height: 30px;
    background-color: rgba(217, 7, 196, 0.4);
    border: none;
}

.home-button button:hover {
    background-color: rgb(255, 36, 233);
    transform: scale(1.3);
    transition: 0.4s;
}
.home-resume-button button {
    border-radius: 10px;
    width: 110px;
    height: 30px;
    background-color: rgba(217, 7, 196, 0.4);
    border: none;
    margin-top: 150px;
}

.home-resume-button button:hover {
    background-color: rgb(39, 27, 38);
    transform: scale(1.3);
    transition: 0.4s;
}

#text {
    align-items: flex-start;
    text-align: start;
    padding: 20px;
    color: aliceblue;
   
}

.about-me-text {
    position: relative;
    display: inline-block;
  }
  
  .text-color {
    color: #fff; /* Set the color for the "About" text */
  }
  
  .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Set the thickness of the underline */
    background-color: white; /* Set the color for the underline */
    margin: 0;
    border: none;
  }

