
.navbar-header {
        margin: 0;
        align-items: center;
        width: 100%;
        
        
}

.nav-container ul{
    list-style: none;
    display: flex;
    margin-left: 450px;
    text-decoration: none;
    font-weight: bold; /* Set font weight as needed */
    font-size: 25px;

   
}

.nav-container ul li{
    padding: 10px;
    font-family: "Inika", Helvetica;
    text-decoration: none;
    color: black;
    margin-top: 50px;
}

.nav-container ul li:hover {
    color: rgb(201, 40, 134);
}